/* Property item container */
.seller-property-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* Property image */
.seller-property-img {
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Property details */
.seller-property-details {
  text-align: left;
  flex-grow: 1;
}

.seller-property-details h1 {
  color: #0061E0;
  margin-bottom: 10px;
  font-size: 24px;
}

.seller-property-details h3,
.seller-property-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Property rating */
.property-rating {
  display: flex;
  align-items: center;
}

.property-rating span {
  margin-left: 10px;
  font-size: 16px;
}

/* Buttons */
.seller-property-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.seller-property-buttons .btnn,
.seller-property-buttons .btnn2,
.seller-property-buttons .btnn3 {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.seller-property-buttons .btnn {
  border: 1px solid red;
  color: red;
  background-color: white;
}

.seller-property-buttons .btnn2 {
  border: 1px solid orange;
  color: orange;
  background-color: white;
}

.seller-property-buttons .btnn3 {
  border: 1px solid green;
  color: green;
  background-color: white;
}

.seller-property-buttons .btnn:hover {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: white;
  color: white;
}

.seller-property-buttons .btnn2:hover {
  background-color: rgba(255, 165, 0, 0.2);
  border-color: white;
  color: white;
}

.seller-property-buttons .btnn3:hover {
  background-color: rgba(0, 128, 0, 0.2);
  border-color: white;
  color: white;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .seller-property-item {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .seller-property-img {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
  }

  .seller-property-details h1 {
    font-size: 20px;
  }

  .seller-property-details h3,
  .seller-property-details p {
    font-size: 16px;
  }

  .property-rating span {
    font-size: 14px;
  }

  .seller-property-buttons {
    flex-direction: column;
    width: 100%;
  }

  .seller-property-buttons .btnn,
  .seller-property-buttons .btnn2,
  .seller-property-buttons .btnn3 {
    width: 100%;
  }
}
